.current {
    color: #ff6602;
  }

  * {
    background-color: #131323;
}

.home {
  font-size: xx-large;
}

.HomeNavigation {
  font-size: xx-large;
  text-align: right;
}

.column {
  float: left;
  width: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  color: white;
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

body {
    color:white;
}

.name {
  width: 50%;
  height: auto;
  
}
  
img {
  height: 50%;
  width: auto;
}