<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    <div class="column">
        {{ content }}
    </div>
    <div class="column">
        <img src="https://lh3.googleusercontent.com/daAslImYfs6oGTk7C4G9bckFVY-rZtTWAxVx2_IQYMM_5P14uvkqvzEcKk6KAyBpyUrTmcGmHA6NP-FDxYiqwOQq3djHVdROzZ8aAYyLZ9UclkMcvGgYIZ5eMj2g6y4X_on9STiT=w300"/>
    </div>
    
    
  </body>
</html>