<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    <div class="column">
        {{ content }}
    </div>
    <div class="column">
        <img src="https://lh3.googleusercontent.com/xNPxjERV8AwJ4G0OogXwAJ1nBJkz7JICEmXeFWIMtHa4plgS_S4T6AQsQ96mUyRDydNAalPgkrSvzKuEojAcWVQFzfonWHaocCDgSGjKRRw6HmysOlGPkGjzlHo7DqdOAyl6K5Ka=w400"/>
    </div>
    
    
  </body>
</html>