<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SPD665GDGV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SPD665GDGV');
</script>
  </head>
  <body>
    {% include navigation.html %}
    <div class="column">
        {{ content }}
    </div>
    <div class="column">
        <img src="https://lh3.googleusercontent.com/xNPxjERV8AwJ4G0OogXwAJ1nBJkz7JICEmXeFWIMtHa4plgS_S4T6AQsQ96mUyRDydNAalPgkrSvzKuEojAcWVQFzfonWHaocCDgSGjKRRw6HmysOlGPkGjzlHo7DqdOAyl6K5Ka=w400"/>
    </div>
    
    
  </body>
</html>