<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {{ content }}
    
      {% include homeNavigation.html %}

    <div class="row">
      <div class="column">
        <figure><embed src="https://wakatime.com/share/@d6808870-d215-46d3-80bc-2d523b87089c/d508960f-5cc2-48b1-826c-cdaf0f4f5d11.svg"></embed></figure>
        
      </div>
  
      <div class="column">
        <figure><embed src="https://wakatime.com/share/@d6808870-d215-46d3-80bc-2d523b87089c/637ac2c4-433b-40c0-9ab9-eaa72580a488.svg"></embed></figure>
      </div>
    </div>

    {% include footer.html %}

    
    
  </body>
</html>